
.wrap {
    position: relative;
}

.image {
    width: 100%;
    height: 100%;
}

.titleDescription {
    position: absolute;
    right: 70px;
    top: 50px;
    width: 45%;
}

h1 {
    font-size: 80px;
    text-align: left;
}

h3 {
    margin-top: 25px;
    text-align: left;
}

.login {
    text-align: left;
    border-top: double 4px gray;
}

p {
    padding: 10px;
    padding-top: 0px;
    padding-left: 0px;
    margin-top: 20px;
    text-align: left;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
   
    .wrap {
        position: relative;
    }
    
    .image {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        z-index: 5;
        min-height: 10vh;
        width: 350%
    }
    
    .titleDescription {
        position: absolute;
        left: 10px;
        top: 20px;
        width: 100%;
    }
    
    h1 {
        font-size: 40px;
        text-align: left;
    }
    
    h3 {
        margin-top: 175px;
        text-align: left;
        margin-right:250px;
    }
    
    .login {
        text-align: left;
        border-top: double 4px gray;
    }
    
    p {
        padding: 10px;
        padding-top: 0px;
        padding-left: 0px;
        margin-top: 20px;
        text-align: left;
        width: 100%
    }

}

