.background {
    margin: 0;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.background::after {
    content: "";
    background-image: url("../../images/homepage.jpeg");
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
}

.hero {
    height: 500px;
    text-align: center;
    display: inline;
}

.logo {
    max-height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 300px;
    min-width: 200px;
}
.homepageContainer {
    width: auto;
    padding: 0;
}

.loginContainer {
    height: 500px;
    text-align: center;
    display: block;
    margin: 0 auto;
    min-width: 200px;
    max-width: 320px;
}