.bgDiv { 
    background: url('../../images/brokenGlass.jpeg') no-repeat center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 643px;
  }

  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 20px;
    margin-top: 100px;
    right: 5px;
    text-align: right;
  }