h1, h3 {
    text-align: center
}

.userBG::after {
    content: "";
    background-image: url("../../images/headerImage3.jpg");
    background-size: cover;
    background-attachment: fixed;
    opacity: .5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
}

.userWelcome {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
}

.welcomeText {
    font-size: 50px;
}

.avatar {
    display: flex;
    justify-content: center;
    width: 100%;
}

.jumbotron .img {
    margin-bottom: 0px;
    opacity: 0.2;
    color: #fff;
    background: #000 url("../../images/userJumbo.jpeg") top center no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    position: absolute;
    top:0;
    left:0;
    z-index:1;
}

.jumbotron h3 {
    margin-top:0;
}

.jumbotron {
  position:relative;
  padding-top:50px;
  padding-bottom:50px;
}
.jumbotron .container {
  position:relative;
  z-index:2;
}

@media screen and (max-width: 768px) {
  .jumbotron {
    padding-top:20px;
    padding-bottom:20px;
  }
}

.formCol {
    display: flex;
    justify-content: center;
}
