h1, h3 {
    text-align: center
}

.userHeader {
    font-size: 40px;
}

.userWelcome {
    justify-content: center;
}

.avatar {
    display: flex;
    justify-content: center;
}

.placesJumbo {
    height: 360px;
    clear: "both";
    padding: 0;
    text-align: "center";
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin-top: 20px;
}
